// Paleta Turismo Lobería
$color-primario: #5cb85c;
$color-primario-hover: #4cae4c;
$color-fondo-claro: #f0f7ed;
$color-fondo-base: #f9f9f9;
$color-texto-titulos: #2d2d2d;
$color-texto-parrafos: #555555;
$color-blanco-puro: #ffffff;

$fuente-principal: 'Poppins', sans-serif;